* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    line-height: 1.5;
    color: #555;
}


h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1,
h2,
strong {
    color: #333;
}


a {
  color: #a8a8a8;
  text-decoration: none;
}

.hero {
    background-color: #263d36;
    background-image: url("lhpca-hero.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 18vw 2em;
    max-width: none;
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 300;
}

header a {
    color: #fff;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color;
}

header a:hover {
    color: #a8a8a8 ;
}

main {
    margin: 0 auto;
    padding: 4em 1em;
    max-width: 50em;
}

.navbar {
    text-align: center;
    padding-top:  35px;
}

.nav-links {
    border: 1px solid #263d36;
    padding-left: 0;
}

.nav-links li {
    font-size: 0.875em;
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    transition-property: color;
    transition: none 200ms ease-out
}

.nav-links a:hover {
    color: #868686;
}

@media screen and (min-width: 733px) {
    .nav-links li {
        font-size: 1em;
    }
}