.navbar {
    margin-bottom: 0;
}

html, body {
    height: 100%;
}

body {
   background: #777;
   color: #f7f7f7;
   font-family:'Raleway', sans-serif;
}

h1, h2 {
    font-weight: bold;
    color: #fafafa;
}

p {
    font-size: 16px;
    color: #fafafa;
}

.jumbotron {
    background: #056082;
    color: white;
    text-align: center;
}

.jumbotron p {
    color: white;
    font-size: 26px;
}

.navbar-inverse {
    background: #2E2F31;
    border: 0;
}

.navbar-inverse .navbar-nav li a {
    color: #f7f7f7;
    font-size: 16px;
}

.navbar-inverse .navbar-nav li a:hover {
    color: #056082;
}

.navbar-inverse .navbar-brand:hover {
    color: #056082;
}

a {
    transition: color .3s;
    color: #056082;
}

a:hover {
    color: #055482;
    text-decoration: none;
}

.navbar-inverse .navbar-brand {
    color: #ccc;
}

.dropdown-menu {
    background: #056082;
    border-radius: 0;
    border: 0;
}

.dropdown-menu li a {
    padding: 10px;
}

.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
    background: #054b82;
    transition: color .4s;
}

.call-to-action {
    text-align: center;
}

.call-to-action p {
    margin-bottom: 30px;
    font-family: sans-serif;
}

.glyphicon-large {
    font-size: 100px;
}

.google-map {
    height: 0;
    overflow: hidden;
    padding-bottom: 60%;
    position: relative;
}

.google-map iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}



.maps {
    padding-bottom: 30px;
}

@media screen and (min-width: 769px) {
    .message-container {
        padding-bottom: 30px;
    }
    .maps {
        padding-bottom: 0;
    }
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -102px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.sbtn {
    font-size: 12px;
    color: #101010;
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
    transition: color .4s, border .6s;
}

.sbtn:hover {
    background-color: #fff;
    color: #056082;
    border: 1px solid #056082;
}

.main-footer,
.page-wrap:after {
    /* .push must be same height as footer */
    height: 102px;
}


.main-footer {
    padding: 40px 0;
    color: white;
    text-align: center;
    background-color: #2b2b2b;

}



