* {
    font-family:'Raleway', sans-serif;
}


body {
    /*height: 100%;*/
    /*overflow: hidden;*/
    /*padding: 0;*/
    margin: 0;
}
.jumbotron {
    background: #92DBFF;
    color: dimgrey;
}

@media only screen and (max-width: 767px) {
   .navigation_header {
       min-height: 52px;
   }
}

@media only screen and (max-width: 991px) {
   .navigation_header {
       padding: 10px 20px;
       min-height: 62px;
   }
}

@media only screen and (max-width: 1024px) {
   .navigation_header {
      padding-left: 30px;
      padding-right: 30px;
   }
}

.navigation_header {
    background: #92DBFF;
    padding: 10px 50px;
    width: 100%;
    min-height: 66px;
    z-index: 1050;
    position: fixed;
    left: 0;
    top: 0;
}
#header {
    position: relative;
    padding: 10px 20px;
    min-height: 70px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

#main-nav {
    display: block;
    text-align: center;
    margin: 1rem 0 1rem 0;
}
  .nav>li>a:hover {
   color: black;
  } 
 a {
     color: #000;
 }
 a:hover {
     color: #FFB692;
 }

  .nav-tabs>li>a:hover {
    border-color: #FFB692;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #FFB692;
}

.content-b {
    background: #FFF;
}
