.navbar {
    margin-bottom: 0;
}


body {
   background: #3E4649;
   color: #f7f7f7;
   font-family:'Raleway', sans-serif;
}

h1, h2 {
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #cdcdcd;
}

.jumbotron {
    background: #056082;
    color: white;
    text-align: center;
}

.jumbotron p {
    color: white;
    font-size: 26px;
}

.navbar-inverse {
    background: #2E2F31;
    border: 0;
}

.navbar-inverse .navbar-nav li a {
    color: #f7f7f7;
    font-size: 16px;
}

.navbar-inverse .navbar-nav li a:hover {
    background: #056082;
}

.dropdown-menu {
    background: #056082;
    border-radius: 0;
    border: 0;
}

.dropdown-menu li a {
    padding: 10px;
}

.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
    background: #054b82;
}

.call-to-action {
    text-align: center;
}

.call-to-action p {
    margin-bottom: 30px;
    font-family: sans-serif;
}

.glyphicon-large {
    font-size: 100px;
}